Skip to content
Navigation Menu
Jhud51278
MEcc

Type / to search
Code
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
macOS VNC BlackScreen Fix
macOS VNC BlackScreen Fix #9
Jobs
Run details
macos-session
failed now in 29s
Search logs
2s
1s
13s
7s
Run echo "Creating new admin user: $NEW_USER ..."
Creating new admin user: adminuser ...
2025-12-10 22:40:33.966 sysadminctl[1957:9211] ----------------------------
2025-12-10 22:40:33.966 sysadminctl[1957:9211] No clear text password or interactive option was specified (adduser, change/reset password will not allow user to use FDE) !
2025-12-10 22:40:33.966 sysadminctl[1957:9211] ----------------------------
IOServiceMatchingfailed for: AppleM2ScalerParavirtDriver
2025-12-10 22:40:34.535 sysadminctl[1957:9211] Creating user record…
2025-12-10 22:40:35.212 sysadminctl[1957:9211] Assigning UID: 502 GID: 20
2025-12-10 22:40:36.001 sysadminctl[1957:9211] Creating home directory at /Users/adminuser
2025-12-10 22:40:36.580 systemsetup[1976:9333] ### Error:-99 File:/AppleInternal/Library/BuildRoots/4~B9VlugAZ8A-ZW2wJ7l-XvzGv9wEqY3p9j8BXOx4/Library/Caches/com.apple.xbs/Sources/Admin/InternetServices.m Line:379
setcomputersleep: Never
2025-12-10 22:40:36.607 systemsetup[1979:9344] ### Error:-99 File:/AppleInternal/Library/BuildRoots/4~B9VlugAZ8A-ZW2wJ7l-XvzGv9wEqY3p9j8BXOx4/Library/Caches/com.apple.xbs/Sources/Admin/InternetServices.m Line:379
setdisplaysleep: Never
Enabling VNC...
Starting...
Screen recording might be disabled. Screen Sharing or Remote Management must be enabled from System Settings or via MDM.
Screen control might be disabled. Screen Sharing or Remote Management must be enabled from System Settings or via MDM.
Activated Remote Management.
Stopped ARD Agent.
adminuser: Set user remote control privileges.
adminuser: Set user remote access.
runner: Set user remote control privileges.
runner: Set user remote access.
Set the client options.
Done.
Configuring Auto Login...
Restarting WindowServer to force display refresh...
✅ Configuration Complete!
4s
Run IP=$(tailscale ip -4)
  
Error: The operation was canceled.
0s
0s
